.review {

    .review-slider {
        position  : relative;
        box-shadow: var(--box-shadow);
        overflow-x: hidden;

        .slide {
            padding         : 3rem;
            text-align      : center;
            border-radius   : .5rem;
            background-color: var(--bg-color-1);

            img {
                height       : 10rem;
                width        : 10rem;
                border-radius: 50%;
                object-fit   : cover;
                margin-bottom: .5rem;
            }

            h3 {
                @include fontStyle(2.5rem, var(--text-color-1));
            }

            p {
                padding    : 1rem 0;
                line-height: 1.8;
                @include fontStyle(1.6rem, var(--text-color-1));
            }

            .stars {
                padding: 1rem 0 1.5rem;

                i {
                    @include fontStyle(2rem, var(--orange));
                }
            }

        }

        .swiper-pagination-bullet-active {
            background-color: var(--orange)
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: var(--orangeLight);

            &:hover {
                color: var(--orange);
            }
        }
    }
}