@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 28 - Jan - 2022  */

:root {
    --orange      : #F79F1F;
    --text-color-1: #444;
    --text-color-2: #666;
    --bg-color-1  : #fff;
    --bg-color-2  : #eee;
    --box-shadow  : 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    margin            : 0;
    padding           : 0;
    border            : 0;
    outline           : none;
    list-style        : none;
    text-decoration   : none;
    text-transform    : capitalize;
    box-sizing        : border-box;
    font-family       : 'Nunito', sans-serif;
    transition        : all .1s linear;
    /* user-select    : none; */
}



@import 'variables';

html {
    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-behavior   : smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: .8rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--orange);
    }
}

body {
    background: var(--bg-color-2);

    &.userClickThemeToggle {
        --text-color-1: #fff;
        --text-color-2: #eee;
        --bg-color-1  : #333;
        --bg-color-2  : #222;
        --box-shadow  : 0 .5rem 1.5rem rgba(0, 0, 0, .4);
    }
}


/* 
Style Scale for all 
but in responsive - its resizing at 991px
*/
section {
    padding      : 2rem 7%;
    margin-bottom: 3rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.heading {
    padding-bottom: 3.5rem;
    text-align    : center;
    text-transform: uppercase;
    @include fontStyle(4rem, $white);

    span {
        text-transform: uppercase;
        color         : $main-color;
    }
}

.btn {
    margin-top   : 1rem;
    padding      : 0.8rem 3rem;
    display      : inline-block;
    background   : var(--orange);
    border-radius: .5rem;
    cursor       : pointer;
    @include fontStyle(1.7rem, #FFF);

    &:hover {
        letter-spacing: .2rem;
    }
}


@import 'header';
@import 'home';
@import 'from-container';
@import 'responsiveness';